<template name="Events">
  <div class="events">
    <h1>Events</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          {{> eventRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="eventRow">
  <tr>
    <th scope="row">
      {{#linkTo route='event'}}
        {{livestamp scheduled_starttime unix=true}}
      {{/linkTo}}
    </th>
    <td>
      {{#linkTo route='event'}}
        {{title}}
      {{/linkTo}}
    </td>
    <td>
      {{#linkTo route='event'}}
        {{status}}
      {{/linkTo}}
    </td>
  </tr>
</template>

<template name="eventItem">
  <li>
    {{#linkTo route='event'}}
      {{code}} - {{title}} ({{status}})
    {{/linkTo}}
  </li>
</template>
